<!DOCTYPE html>
<html lang="en">
<head>
      <title>#template1#</title>
      <link rel="stylesheet" href="/Lab/styles/style.css" />
</head>
<body>
    <h1>Welcome to RTT-43 Express Test Page</h1>
    <nav>
        <a href="./template2">About</a>
    </nav>
    <form action="/submit" method="POST">
        <input type="text" name="data" placeholder="Enter some data" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>