<!DOCTYPE html>
<html lang="en">
<head>
   <title>#template2#</title>
   <link rel="stylesheet" href="/Lab/styles/style.css" />
</head>
<body>
    <h1>About Page</h1>
    <nav>
        <a href="./template1">Home</a>
    </nav>
</body>
</html>
